* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  /* border: 2px dashed #f69c55; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#googleLogo {
  display: none;
  /* border: 2px dashed #f69c55; */
  justify-content: center;
  max-height: 10%;
  max-width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#startContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px dashed #f69c55; */
}

#welcome {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 600;
  font-size: 130px;
  text-align: center;
  animation: fadein 1.5s;
}

.topnav {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
}

.topnav a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: "Source Sans Pro";
}

.topnav div {
  width: auto;
  height: 40px;
  margin: 10px;
}

#ourProject {
  margin-left: auto;
}

.topnav div:hover {
  background-color: #ddd;
  color: black;
}

.topnav div.active {
  background-color: #04aa6d;
  color: white;
}

img {
  height: 100%;
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  position: absolute;
  height: auto;
  width: auto;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.container div {
  position: absolute;
  border-radius: 50%;
  animation: gradient 5s infinite;
}
@keyframes gradient {
  70% {
    transform: scale(1.2) translate(50px);
  }
}
.container div:nth-child(1) {
  height: 90%;
  width: 80%;
  background-color: #ffffff;
  left: -20%;
  top: -10%;
}

.container div:nth-child(2) {
  height: 50%;
  width: 50%;
  background-color: #d2b1be;
  bottom: 20%;
  left: 25%;
  animation-delay: 1.2s;
}
.container div:nth-child(3) {
  height: 80%;
  width: 70%;
  background-color: #6a23e4a3;
  top: -40%;
  right: -30%;
  animation-delay: 2s;
}
.container div:nth-child(4) {
  height: 65%;
  width: 80%;
  background-color: #ffe3df;
  bottom: -15%;
  right: -20%;
  animation-delay: 0.3s;
}
.container div:nth-child(5) {
  height: 50%;
  width: 75%;
  background-color: #dc4c88aa;
  bottom: -20%;
  left: -30%;
  animation-delay: 1.2s;
}

.container:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  backdrop-filter: blur(100px);
}
